allow system_app proc_touchpanel:dir search;
allow system_app proc_touchpanel:file rw_file_perms;
allow system_app camera_enable:file rw_file_perms;
allow system_app music_enable:file rw_file_perms;
allow system_app flashlight_enable:file rw_file_perms;
allow system_app camera_enable:proc rw_file_perms;